body {
    font-family: arial, sans-serif;
  background-image: url("https://images.pexels.com/photos/586687/pexels-photo-586687.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}

  h1 {
    color: #7c7c7c;
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
    margin: 0;
  }
  
  ul {
    margin: 0 0 10px;
    padding: 0;
  }
  
  li {
    color: #7c7c7c;
    font-size: 16px;
    font-weight: 100;
    height: 19px;
    line-height: 1;
    list-style: none;
  }
  
  .weather-app {
    border: 1px solid #dadde1;
    padding: 50px;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 600px;
    opacity: 0.9;
    background-color: #FDF4E3;
    margin-top: 200px;
  }
  
  .weather-icon {
    height: 64px;
    width: 64px;
    margin-right: 10px;

  }
  
  .temperature {
    color: rgb(33, 33, 33);
    font-size: 50px;
    font-weight: 400;
    line-height: 1;
    padding-top: 20px;
    margin-left: 20px;
  }
  
  .units {
    position: relative;
    
  }
  
  form {
    margin-bottom: 30px;
  }

  .heading {
      text-align: center;
      color: white;
      font-size: 10px;
  }

  .city {
    padding-bottom: 20px;
    padding-top: 20px;
  }
  
  .icon {
    padding-top: 20px;
  }

  .weather-wrapper {
    text-align: center;
    padding-top: 40px;
  }

 .box-search {
   margin-top: 50px;
 }

.date {
 margin-bottom: 20px;
}

.description {
  margin-left: 100px;
}

h2 {
  padding-top: 40px;
}

.units a {
  color: #7c7c7c;
  text-decoration: none;
}

.weather {
  font-size: 20px;
  text-transform: capitalize;
}

.weather-forecast {
  color: #7c7c7c;
}

p a {
  text-decoration: none;
  color: white;
}